.header {
  width: 100%;
  min-height: 209px;
  background-image: var(--bg-mobile-image);
  background-size: contain;
  margin: 0;
  color: #fff;
  padding: 1.5em;
  overflow: hidden;
}

@media (min-width: 768px) {
  .header {
    height: 320px;
    background-image: var(--bg-desktop-image);
    background-size: cover;
    background-position: 50% 50%;
    padding: 1em;
  }
}

.headerContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 600px;
  margin: 0 auto;
}

.header h1 {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 14px;
}

@media (min-width: 768px) {
  .header h1 {
    font-size: 38px;
    letter-spacing: 23px;
  }
}

.header h1,
.header .themeIcon {
  margin: 28px 0;
  padding: 0;
}

@media (min-width: 768px) {
  .header h1,
  .header .themeIcon {
    margin: 56px 0;
  }
}

.themeIcon {
  fill: #fff;
  cursor: pointer;
  transform: scale(0.8);
  transition: fill 0.25s ease;
}

.themeIcon:hover {
  fill: rgb(255, 232, 170);
}

@media (min-width: 768px) {
  .themeIcon {
    position: relative;
    top: 5px;
    transform: scale(1);
  }
}

.main {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  padding: 1.5em;
  margin: -10em auto 1em;
}

@media (min-width: 768px) {
  .main {
    padding: 1em 0;
    margin: -9em auto 1em;
  }
}
